<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">На главную</a></li>
    <li class="dropdown">
        <a asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Shop">Товары</a></li>
            <li><a asp-controller="Catalog" asp-action="CheckOut">Покупки</a></li>
            <li><a asp-controller="Catalog" asp-action="Cart">Корзина</a></li>
            <li><a asp-controller="Catalog" asp-action="Login">Войти</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Blog" asp-action="BlogList">Blog List</a></li>
            <li><a asp-controller="Blog" asp-action="BlogSingle">Blog Single</a></li>
        </ul>
    </li>
    <li><a asp-controller="Error" asp-action="Index">Ошибка 404</a></li>
    <li><a asp-controller="ContactUS" asp-action="Index">Контакты</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
</ul>