@model IEnumerable<string>

@{
    ViewData["Title"] = "Test WebApi";
}

<h2>WebApiTest</h2>
<div class="container">
    <ul>
        @foreach(var value in Model)
        {
            <li>@value</li>
        }
    </ul>
</div>

